<html>
<head>
    <title> Login | Kissanarm </title>
    <link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
    <body style="background-image: url(static/img/farmerbg.jpg)">
    <div class="login-box">
    <img src="../static//img/avatar1.png" class="avatar">

        <h1>Login Here</h1>
            <form action="/Checklogin">
            <p>Phone Number</p>
            <input type="text" name="user_phone" placeholder="1234567891" disabled > 
            <p>Password</p>
            <input type="password" name="password" placeholder="microsoft" disabled>
            <a class="btn" href="../templates/Homefarmer.html">Login</a><br><br><br>
            <!-- <input type="submit" style="margin-top: 20px;" name="submit" value="Login"><br> -->
            <a href="#">Forgot Password ?</a><br><br><br>
            Didn't have an account? <a href="../templates/signup.html" style="font-weight:bolder"><i>SignUp here</i></a>
            </form>
    </body>
</html>