<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/loginasked.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
    <title>Kissan Farm | Login</title>
</head>

<body>
    <div class="log">
        <img src="../static/logo.png" alt="">
        <div class="text">Login</div>
    </div>
    <div class="container">
        <div class="farmer">
            <p>As a Farmer</p>
            <h3 class="farm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque doloremque nam culpa, nesciunt dolor fuga,
                pariatur qui numquam officia quibusdam ratione quod atque. Debitis repellat, assumenda officiis quis sequi
                consectetur!</h3>
                <button class="btn"><a href="../templates/login.html"><b>Login</b></a></button>
        </div>
        <div class="farmer1">
            <p>As a Customer</p>
            <h3 class="farm1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque doloremque nam culpa, nesciunt dolor fuga,
                pariatur qui numquam officia quibusdam ratione quod atque. Debitis repellat, assumenda officiis quis sequi
                consectetur!</h3>
                <button class="btn1"><a href="../templates/customerlogin.html"><b>Login</b></a></button>
        </div>
    </div>
    <footer>
        <div class="center">
            Copyright &copy; www.kissanFarm.com. All rights reserved!
        </div>
    </footer>
    
</body>

</html>