<html>

<head>
    <title> SignUp | Kissan Farm </title>
    <link rel="stylesheet" type="text/css" href="/static/signup.css">
</head>

<body style="background-image: url(/static/img/farmerbg.jpg)">
    <div class="login-box">
        <img src="/static/img/avatar1.png" class="avatar">
        <h1>SignUp Here</h1>
        <form>
            <p>Name</p>
            <input type="text" name="username" placeholder="Microsoft" disabled>
            <p>Email</p>
            <input type="email" name="email" placeholder="micorsoft@gmail.com" disabled>
            <p>Password</p>
            <input type="password" name="password" placeholder="microsoft" disabled>
            <p>Confirm Password</p>
            <input type="password" name="cpassword" placeholder="microsoft" disabled>
            <p>Contact Number</p>
            <input type="text" name="number" placeholder="1234567891" disabled><br>
            <a class="btn" href="/templates/Homefarmer.html">Signup</a><br><br><br>
            <!-- <input type="submit" style="margin-top: 10px;" name="submit" value="Signin"><br><br> -->

            Already SignUp ? <a href="/templates/login.html" style="font-weight: bolder;"><i>Login here</i></a>
        </form>
    </div>
    <script>
        
    </script>
</body>